In [1]:
%matplotlib inline
import collections
import pandas as pd
from io import StringIO

In [2]:
testlines = '''32T3K 765
T55J5 684
KK677 28
KTJJT 220
QQQJA 483'''

In [3]:
with open('day7input.txt') as fp:
    data = fp.read()

In [13]:
cards = list(reversed(['A', 'K', 'Q', 'J', 'T', '9', '8', '7', '6', '5', '4', '3', '2', '1']))

## Part 1

In [4]:
types = {'High card': 0,
         'One pair': 1,
         'Two pair': 2,
         'Three of a kind': 3,
         'Full house': 4,
         'Four of a kind': 5,
         'Five of a kind': 6}

In [5]:
def get_type(hand):
    c = collections.Counter(hand)
    maxcnt = max(c.values())
    if maxcnt == 5:
        return 'Five of a kind'
    elif maxcnt == 4:
        return 'Four of a kind'
    elif maxcnt == 3:
        # either three of a kind, or a full house
        if 2 in c.values():
            return 'Full house'
        else:
            return 'Three of a kind'
    elif maxcnt == 2:
        # either one pair, or two pair
        cv = collections.Counter(c.values())
        if cv[2] == 2:
            return 'Two pair'
        else:
            return 'One pair'
    else:
        return 'High card'

In [6]:
def parse(inputstr):
    df = pd.read_table(StringIO(inputstr), sep=' ', names=['hand', 'bid'])
    df['type'] = df['hand'].apply(get_type)
    return df

In [7]:
parse(testlines)

    hand  bid             type
0  32T3K  765         One pair
1  T55J5  684  Three of a kind
2  KK677   28         Two pair
3  KTJJT  220         Two pair
4  QQQJA  483  Three of a kind